@model IEnumerable<MovieBase.Models.ActorListItem>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" id="homepage2">
    <h1>Actor List</h1>
<p>
    @Html.ActionLink("Create New", "Create", null, new { style = "color:white" })
</p>
</div>
<table class="table">
    <tr>
        <th width="50%">
            @Html.DisplayNameFor(model => model.Name)
        </th>
       
        <th width="50%">Options</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ActorId }, new { style = "color:white" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ActorId }, new { style = "color:white" })
        </td>
    </tr>
}

</table>
