@model MovieBase.Models.AppearanceDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>You.. you shouldn't be here? You know ASP.Net, don't you? Knew I had full CRUD on all of my tables. Well, you don't need these details, so.. just leave? Please.</p>

<div>
    <h4>AppearanceDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Actor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AppearanceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
