@model IEnumerable<MovieBase.Models.AppearanceListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Appearance.Actor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Appearance.Movie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Appearance.Actor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Appearance.Movie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.AppearanceId }) |
            @Html.ActionLink("Details", "Details", new { id = item.AppearanceId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AppearanceId })
        </td>
    </tr>
}

</table>
