@model IEnumerable<MovieBase.Models.AppearanceListItem>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" id="homepage2">
    <h1>Appearances</h1>
    <p>
        @Html.ActionLink("Add an Appearance", "Create", null, new { style = "color:antiquewhite" })
    </p>
</div>

<table class="table">
    <tr>
        <th width="33%">
            @Html.DisplayNameFor(model => model.Movie)
        </th>
        <th>
            Box Art
        </th>
        <th width="33%">
            @Html.DisplayNameFor(model => model.Actor)
        </th>
        <th>Options</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Movie.CoverPicture)" width="35%" height="20%" /> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actor.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AppearanceId }, new { style = "color:white" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AppearanceId }, new { style = "color:white" })
            </td>
        </tr>
    }

</table>
